/*****************Tag selector************/

h1 {
  color: red;
  font-size: 150px;
}
/*
img{
  background-color: red;
}
*/
/***************Class selector*************/

.bacon{
      background-color: green;
}

.broccoli{
    background-color: red;
}

#heading{
  color:blue;
}
